.gallery{
    width: 90%;
    max-width: 650px;
    margin: auto;
    position: relative;
}

.header-carrusel-app{
    display: inline-block;
    position: relative;
    width: 100%;
}
    .carrusel-images-galery{
        position: relative;
        height:400px;
        width: inherit;
        border-radius: 5px;
    box-shadow:  1px 1px 8px gray;
    overflow: hidden;
    }
        .carrusel-image{
            display: flex;
            width: inherit;
            height: inherit;
            position: absolute;
            opacity: 0;  
        }
            .carruselmostrado{
                opacity: 1;
            }
            .carrusel-image img{
                width: 100%;
                height: inherit;
                object-fit: cover;
            }
        .carrusel-image .carrusel-description{
            display: flex;
            position: absolute;
            width: 70%;
            height: 80px;
            top:50%;
            left: 50%;
            transform: translate( -50% , -50%);
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            font-size: 20px;
            background-color: rgba(150, 150, 150, .6);
            color: var(--colortitulo);
            backdrop-filter: blur(1px);   
        }
/* Botones avance/retroceso carrusel  */

.carrusel-button{
    width: 30px;
    margin:0 30px;
    font-size: 35px;
    text-align: center;
    color: var(--colorsecundario);
    opacity: 1;
}  
    .header-carrusel-app .carrusel-prev{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;     
    }
    .header-carrusel-app .carrusel-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }

 /* Indicador de posicion */

.div-carrusel-position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
    margin: 5px;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    background-color: rgba(150, 150, 150, .6);
    width: 100%;
    margin: 0;
    height: 30px;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
.div-carrusel-position li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrusel-position{
    font-size: 10px;
    color: var(--colorsecundario);
    transition: all ease-in-out .2s;
}

    .posicionado{
        color: var(--colorprincipal);
        font-size: 12px;
        transition: all ease-in-out .2s;
    }

    @media screen and (max-width:1080px){  
        .carrusel-images-galery{
            height: 250px;
        }
        .header-carrusel-app .carrusel-button{
            font-size: 22px;
            margin: 0 10px;
        }
    }


/* texto */

.carrusel-txt{
    font-size: 18px;
    text-align: justify;
    padding: 10px;
}
