/* FICHA TECNICA */

.ficha-tittle {
    color: green;

    font-size: clamp(1.3rem, 10vw, 3rem);
    text-align: center;
    font-weight: 900;
}

.div-ficha-position {
    position: absolute;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
    background-color: rgba(150, 150, 150, 0.6);
    width: 100%;
    margin: 0;
    height: 30px;
}

.ficha-tecnica-table {
    background-color: lightgrey;
    width: 90%;
    max-width: 650px;
    margin: 10px auto;
    border-collapse: collapse;
    box-shadow: 1px 1px 8px gray;
    border-radius: 5px;
}
.ficha-tecnica-table tr {
    text-align: left;
    border-bottom: 3px solid white;
}
.ficha-tecnica-table tr:last-child {
    border-bottom: none;
}
.ficha-tecnica-table th {
    width: 45%;
    font-size: var(--textosize);
    padding: 3px;
}
.ficha-tecnica-table td {
    font-size: var(--textosize);
    color: var(--colorprincipal);
    font-weight: 600;
}

/* Ficha descripcion   */
.ficha-tecnica-table-description {
    width: 90%;
    max-width: 650px;
    margin: 5px auto;
    background-color: lightgray;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 8px gray;
}
.ficha-tecnica-table-description th {
    text-align: center;
    color: green;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 19px;
    text-shadow: lightgray 0px 0px 2.5px;
}
.ficha-tecnica-table-description td {
    font-size: var(--textosize);
    text-align: justify;
    padding: 5px 10px;
}
.ficha-tecnica-table-description .table-usuario {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: green;
    text-decoration: underline;
}